html{
    width: 100%;
    height: 100%;
}

body{
    transition: background-color 0.3s ease;
}
header{
    height: inherit;
    width: 100%;
    background-color: grey;
    padding: var(--spacing-medium) var(--spacing-small);
  
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: var(--spacing-small) var(--spacing-small);
    
}

a{
    text-decoration: none;
    color: black;
}

main{
 display: flex;
 width: 100%;
}


/* HIDING CONTAINERS */
.content{
    display: none;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    /* justify-content: center;
    align-items: center; */
}

.content.active{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 1; 
    pointer-events: auto;
  
}

.hidden{
    display: none;
}



/* ACCORDIAN */

.accordian__title{
    padding-right: var(--spacing-small);
}
.accordian__title__container-2{
    display: flex;
}

.accordian__title-container{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: lightblue;
    padding: 0.5rem;
}

.accordian__toggle-button{
    padding: 0.5rem;
    margin-left: var(--spacing-small);
    margin-bottom: var(--spacing-small);
    cursor: pointer;
    border:none;
}

.accordion__toggle-logo{
    transition: transform instant linear;
}


.accordian__description-container{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3 linear;
    background-color: aliceblue;
}

.accordian__description-container--active{
    max-height: 500px;
}

.accordian__description{
    line-height: 1.3;
    padding: 0.5rem;
}

.rotate__arrow{
 transform: rotate(180deg)
}


/* ALERT */
#alert{
    width: 100%;
}

.alert__button{
    width: 100px;
    height: 30px;
    cursor: pointer;
    
}


/* BUTTON */

.color__button{
    width: 100px;
    height: 30px;
    cursor: pointer;
}
/* TOAST */

.toast__window{
    visibility: hidden;
    min-width: 200px;
    text-align: center;
    padding: var(---spacing-small);
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.toast__window.show{
    visibility: visible;
    opacity: 1;
}

.toast__text{
    padding-right: var(--spacing-small);
    font-weight: bold;
}

input{
    padding-left: 2px;
}

.submit__button{
    margin-left: var(--spacing-small);
    cursor: pointer;
    width: 100px;
}

/* MODAL */
.modal__container{
    display: none;
    position: fixed;
    z-index: 1;
    width: 300px;
    padding:var(--spacing-small);
    border-radius: 3rem;
    margin-top: 2rem;
}
.modual__contents{
    width: 200px;
    padding: 3rem;
    border-radius: 1rem;
    background-color: blue;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    color: white;
}

.modal__open-button{
    cursor: pointer;
    width: 100px;
    height: 30px;
    cursor: pointer;
}
.modal__close-button{
    width: 100px;
    height: 30px;
    cursor: pointer;
}


.modal__close-button:hover{
    background-color:rgb(75, 96, 235);
    color: white;
}


/* COUNTER */
.counter__container{
   padding-top: var(--spacing-small);
}
.counter__title{
    font-weight: bold;
    font-size: var(--font-size-mediun);
    padding-top: var(--spacing-small);
    padding-right: var(--spacing-small);
}


.decrease{
    width: 30px;
    height: 30px;
    font-size: var(--font-size-small);
    font-weight: bold;
    align-self: center;

}

.increase{
    width: 30px;
    height: 30px;
    font-size: var(--font-size-small);
    font-weight: bold;
    align-self: center;
}
